.style {
    color: green;
}

a[href^='https'] {
    color:red;
}

.list>li:last-child a {
    background-color: green;
}

ul + p  {
    font-size: 26px;
}

div > h3:first-child{
    color: pink;
}

#greycol {
    color: gray;
}

.text-box div > p {
    color: red;
}

div ~ h3 ~ p {
    color: green;
}

.yellow {
    color: yellow;
}

.bg-box {
    background: url(https://www.freeiconspng.com/uploads/lamp-png-0.png) top left / 30px 30px repeat-x, url(https://avatanplus.com/files/resources/mid/58eb07b830eab15b56162788.png) right / 30px 30px repeat-y, url(https://www.freeiconspng.com/uploads/grass-png-images-pictures-transparent-28.png) bottom / 1900px 300px no-repeat, url(https://vignette.wikia.nocookie.net/mashaandthebear/images/e/e0/%D0%81%D0%B6%D0%B8%D0%BA.png/revision/latest?cb=20180209130328&path-prefix=ru) left / 30px 30px repeat-y, url(https://img2.goodfon.ru/wallpaper/big/0/5b/pole-zelen-trava-dom-derevya.jpg) center / 550px 300px no-repeat green;
    height: 500px;
}